@model AspAngularCP1.Models.Responses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Responses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SurveyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SavedAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SavedAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
